@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@300;400;700&display=swap');

:root {
--green: #03979Dff;
--blue: #0D62CBff;
--grey: #535353ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
}

/* Header Info */
h1 {
    font-size: 35px;
    color: white;
}

.headerLogo {
    width: 500px;
    height: 200px;
    margin: 10px 0;
}

/* Split Cards */
.aniH2 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    opacity: 0.0;
    transition: opacity 0.6s ease;
}

/* h2 Fade Animation */
.aniH2.showH2 {
    opacity: 1;
}

.splitCards {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Card Scroll Animation Classes */
.card {
    margin: 0 30px;
    transform: translateX(400%);
    transition: transform 0.8s ease;
}

.card:nth-of-type(even) {
    transform: translateX(-400%);
}

.card.show {
    transform: translateX(0);
}
/* Animation End */

.splitImage img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);   
}

.leftAboutText {
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: var(--green);
    box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);
    color: #fff;

}

.rightAboutText {
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: var(--blue);
    box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);
    color: #fff;
}

/* Instructor Info */
.fullCard {
    width: 1000px;
    height: 400px;
    padding: 20px;
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);
    color: #fff;
    transform: translateY(400%);
    transition: transform 0.8s ease;
}

.instructorGrid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.instructors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructors hr {
    width: 150px;
    margin: 10px;
}

.instructors .instructorPic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.instructors p {
    text-align: center;
    padding: 20px;
}

/* Instructor Card Animation */
.showFullCard {
    transform: translateY(0);
}



footer {
    width: auto;
    height: 500px;
}